<h1>Stock App</h1>

<%= form_tag root_path, :method => 'POST' do%>
	<%= text_field_tag 'ticker', nil, placeholder: "Enter Ticker Symbol", size: 50 %>
	<%= submit_tag 'Lookup' %>
<% end %>

<% if @stock %>
	<%= @stock.company_name %>
<% elsif @nothing %>
	<%= @nothing %>
<% end %>

<% if @error %>
	<%= @error %>
<% end %>